# Android / Gradle
.gradle/
build/
app/build/
*.iml
*.apk
local.properties

# NDK / native build
obj/
.cxx/
cmake-build-*/

# Node / web
node_modules/
dist/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# JetBrains
.idea/

# misc
*.log
